### Emacs
\#*#
\.#*
*~

### Latex
*.fls
*.aux
*.log
*.fdb_*
*.out
*.blg
*.bbl
*Notes.bib
main.pdf
main.tar.gz

### other files produced during compilation



### cookiecutter files
note.pdf
note.tar.gz
